# Force npm scripts through git bash (Windows cmd.exe breaks on `&` in cwd path "R&D").
# If you rename the parent folder to remove `&`, this line can be removed.
script-shell=C:\\Program Files\\Git\\bin\\bash.exe
